# folder that contains documents connected to paper writing
documents/

# different folders that contain results
experiments/*
checkpoints/*
graphics/*
optimization/*
results/*
# !results/cutter_states.csv
tmp/

# other stuff
**/__pycache__
settings.json

# some dev tools
#.flake8
.vscode

.gitignore
.git
