# folder that contains documents connected to paper writing
documents/

# different folders that contain results from experiments
experiments/*
!experiments/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
graphics/*
!graphics/.gitkeep
optimization/*
!optimization/.gitkeep
results/*
!results/.gitkeep

# other tmp stuff
**/__pycache__
settings.json
tmp/
.mypy_cache
.pytest_cache
.vscode
test.csv
src/X_test.py

# some dev tools
#.flake8
install_scripts
id_rsa
id_rsa.pub
Dockerfile_git
makefile.private
