# folder that contains documents connected to paper writing
documents/

# different folders that contain results from experiments
experiments/*
checkpoints/*
graphics/*
optimization/*
results/*
# !results/cutter_states.csv

# other tmp stuff
**/__pycache__
settings.json
tmp/
.mypy_cache
.pytest_cache
.vscode

# some dev tools
#.flake8
install_scripts
